.form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  background-color: #fff;

  &__label {
    padding-right: 1.5rem;
    font-size: 1.5rem;
  }
  &__input {
    border: 1px solid #eee;
    border-radius: 1rem;
    margin-right: 2.5rem;
    width: 18rem;
    height: 3rem;
    &--ammount {
      width: 12rem;
    }
  }
  &__button {
    background-color: orangered;
    font-weight: bold;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 1rem;
  }
}
